.root {
  max-width: 1920px;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: "Inter", "Arial", sans-serif;
  background-color: #ffffff;
}

.header {
  max-width: 70%;
  margin: 0 auto;
  padding: 3em 0 1em;
}

.header__title {
  margin: 0 auto;
  padding: 0;
  font-size: 2em;
}

.footer {
  max-width: 70%;
  margin: 0 auto;
  padding: 1em 0;
}

.footer__title {
  font-size: 1em;
  opacity: 0.6;
  margin: 0;
}

.content {
  max-width: 70%;
  min-height: 90vh;
  margin: 0 auto;
  padding: 0;
}

.meme__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.meme__item {
  border-top: 0.2em #d4d4d4 solid;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: pointer;
}

.meme__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.meme__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  color: blue;
}

.meme__input:checked + .meme__label .meme__container {
  color: black;
}

.content:hover .meme__list .meme__item .meme__label .meme__container {
  color: black;
}

.meme__title {
  margin: 0;
  padding: 1em 0;
  font-size: 1em;
}

.meme__input:active + .meme__label .meme__container .meme__title{
  color: blue;
}

.meme__icon {
  font-size: 1.5em;
  visibility: hidden;
  transform: rotate(0deg);
  transition: transform 0.2s ease-in-out, height 0.2s ease-in-out;
}

.meme__input:active + .meme__label .meme__container .meme__icon{
  color: blue;
}

.content:hover .meme__list .meme__item .meme__label .meme__container .meme__icon {
  visibility: visible;
}

.meme__label:hover .meme__container .meme__icon {
  transform: rotate(45deg);
}

.meme__input:checked + .meme__label .meme__container .meme__icon {
  transform: rotate(45deg);
}

.meme__input {
  margin: 0;
  display: none;
}

.meme__image {
  max-width: 50%;
  padding: 0 0 1em 0;
  margin: 0 auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.2s ease;
  opacity: 1;
}

.meme__input:active + .meme__label > .meme__image {
  opacity: 0.6;
}

.meme__input:checked + .meme__label > .meme__image {
  max-height: 40em;
}

.meme__label:hover .meme__image {
  max-height: 40em;
}
